body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
}
                        /*==================================*/
                            /* End Heading Section */
                        /*==================================*/
html{font-size:62.5%;}
a{text-decoration: none;}
p{
    color: #565655;
    font-size:1.5rem;
    line-height: 1.7;
}
.custom-btn{
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    padding:1.5rem 3rem;
    background-image: linear-gradient(#363dc8,#3d4ff1);
    display: inline-block;
    border-radius:.5rem;
    color: #fff;
    font-size:1.5rem;
    transition: .3s ease;
}
.custom-btn:hover{
    color: #fff;
    background-image: linear-gradient(#363dc8 , #373FCC);
}
.fas{font-size:1.5rem;padding-right:.5rem;}
h1,h2,h3{
    font-family: 'Bebas Neue', cursive;
}
section{padding:10rem 0;}
.section-head{font-size:5rem;color:#363958;}
.light-heiglight{
    font-size: 7rem;
    color: #FA804C;

}
.dark-heiglight{
    font-size: 7rem;
    color: #363958;
}
#header{background: #FFF9F4;padding:2rem 0 5rem 0;}
#header nav .logo{width:30rem;}
#header nav .logo img{width:100%;}
#header nav .icon-bar{
    font-size:3rem;
    color:#333;
    margin-right: 3rem;
}
#header nav .custom-link{
    font-size:1.5rem;
    color: #3B3B3B;
    margin-right: 3rem;
}

.hero-text-box{
    margin:7rem 0 0 10rem;
}
                        /*==================================*/
                            /* End Heading Section */
                        /*==================================*/

#casual .shoes-price,
#formal .shoes-price{
    font-size:4rem;
    color: #FA804C;
    font-weight: 700;
}
.custom-card{
    background: #fff;
    border:0;
    padding:2rem;
    border-radius: 1rem;
    margin-right: 3rem;
}
#casual.custom-card:last-child,
#formal.custom-card:last-child{margin-right: 0;}
.card-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size:2.5rem;
    color: #363958;
}
.card-img-top{
    background: #eee;
    padding:2rem;
    border-radius: .7rem;
}
.card-footer{border:0;background: #fff;}


                        /*==================================*/
                            /* End Formal & Casual Section */
                        /*==================================*/

.custom-area{
    padding: 3rem;
    width:40rem;
    background: #fff;
    margin: 1rem;
    box-shadow: .1rem .2rem .7rem #ccc;
}
.custom-area h4{
    font-size:2.5rem;
    color:#363958;
}
.custom-area img{
    width:7rem;
    float:left !important;
    margin-right: 2rem;
}
                        /*==================================*/
                            /* End Custom Section */
                        /*==================================*/

#support i{font-size:5rem;color:#FA804C;} 

#footer{
    padding: 5rem 0 2rem 0;
    /*background: #F6F6F8;*/
    background:#333;
    color: #fff;
}

#footer ul{list-style: none;}
#footer ul li a{
    font-family: 'Roboto',sans-serif;
    color: #ddd;
    font-size:1.5rem;
    font-weight: 400;
    margin: .5rem 0;
    transition: 0.5s ease;
    display: inline-block;
}
#footer ul li a:hover{
    color: #FA804C;
}
#footer .social-links li a{
    float:left;
    margin-right: 3rem;
}


                        /*==================================*/
                            /* Start Media Qurie's Section */
                        /*==================================*/

@media (min-width: 768px) and (max-width: 991.98px) { 
    .dark-heiglight,
    .light-heiglight{
        font-size:5rem;
    }
    .custom-area{margin: 2rem auto;}
    .custom-card{
        margin: 2rem auto;
        margin-right: 0;
        
    }
    section{padding:5rem 0}
    
}
@media (min-width: 470px) and (max-width: 767.98px) { 
    .custom-card{
        margin: 2rem auto;
    }
    .custom-area{margin: 2rem auto;}
    .detail{text-align: center;margin: 2rem auto;}
    section{padding: 5rem 0;}
    .section-head{text-align: center;}
    #footer 
 }