body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
html{font-size:62.5%;}
a{text-decoration: none;}
p{
    color: #565655;
    font-size:1.5rem;
    line-height: 1.7;
}
.custom-btn{
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    padding:1.7rem 3.5rem;
    background: #3848D2;
    display: inline-block;
    border-radius:.5rem;
    color: #fff;
    font-size:1.5rem;
}
.fas{font-size:1.5rem;padding-right:.5rem;}
h1,h2,h3{
    font-family: 'Bebas Neue', cursive;
}
section{padding:10rem 0;}
.section-head{font-size:5rem;color:#363958;}
.light-heiglight{
    font-size: 7rem;
    color: #FA804C;

}
#header{background: #FFF9F4;padding:2rem 0 5rem 0;}
#header nav .logo{width:30rem;}
#header nav .logo img{width:100%;}
#header nav .custom-link{
    font-size:1.5rem;
    color: #3B3B3B;
    margin-right: 3rem;
}
.dark-heiglight{
    font-size: 7rem;
    color: #363958;
}
.hero-text-box{
    margin:7rem 0 0 10rem;
}

#casual .shoes-price,
#formal .shoes-price{
    font-size:4rem;
    color: #FA804C;
    font-weight: 700;
}
.custom-card{
    background: #fff;
    border:0;
    padding:2rem;
    border-radius: 1rem;
    margin-right: 3rem;
}
#casual.custom-card:last-child,
#formal.custom-card:last-child{margin-right: 0;}
.card-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size:2.5rem;
    color: #363958;
}
.card-img-top{
    background: #eee;
    padding:2rem;
    border-radius: .7rem;
}
.card-footer{border:0;background: #fff;}


.custom-area{
    padding: 3rem;
    width:40rem;
    background: #fff;
    margin: 1rem;
    box-shadow: .1rem .2rem .7rem #ccc;
}
.custom-area h4{
    font-size:2.5rem;
    color:#363958;
}
.custom-area img{
    width:7rem;
    float:left;
    margin-right: 2rem;
}

#support{
    background-color: #F6F6F8;
}
#support i{font-size:3rem;color:rgb(122, 115, 115);} 
#footer{
    padding: 5rem 0;
    background: #222222;
    color: #fff;
}